<!DOCTYPE html>
<html>

<head>
    <title>Práctica 4</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/tasksScreen.css">
</head>

<body>
    
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="d-flex">
            <a class="navbar-brand p-2" href="#"><img class="logo" src="img/LogoUCM.png" alt=""></a>
            <div class="p-2 d-flex flex-row-reverse align-items-center justify-content-right">
                <button class="p-2">Desconectar</button> 
                <p class="">username</p>                              
                 <img class="userimg" src="img/noUser.png" alt=""> 
            
                             
                
            </div>
        </div>
        
    </nav>

    <div id="cuerpo">
        <div id="contenedor">
            <h2>Tareas</h2>
            <ul>
                <!--Lo que hacemos aqui es un for para cada task que recibe el ejs
                despues depende de si la tarea se ha completado o no elimina el contenido innecesario
                por ultimo para cada tag de la tarea escribimos su texto-->

                <% tasks.forEach(function(task){ %>
                    <li>
                        <div class="d-flex tarea align-items-center">
                            <h4 class="p-2">
                                <% if(task.Done) {%> <del>
                                        <% } %>
                                            <%= task.Texto %>
                                                <% if(task.Done) {%> <del>
                                                        <% } %>
                            </h4>
                            <% if (!task.Done) { %>
                                <% task.Tags.forEach(function(tag){ %>
                                    <p class="tag">
                                        <%= tag %>
                                    </p>
                                    <% }) %>
                                        <form class="p-2" action="/finish/<%=task.ID%>" method="POST">
                                            <input type="submit" value="Completar">
                                        </form>
                                        
                                        <% } %>
                        </div>
                    </li>
                    <% }) %>

            </ul>
        </div>
        <div class="d-flex justify-content-between">
            <form action="/deleteCompleted" method="POST" class="del-all">
                <input type="submit" value="Eliminar Tareas">
            </form>
           
            <button class="anadir" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Añadir
                Tarea</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Añadir tarea</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/addTask">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Descripción de la tarea</label>
                                    <textarea required class="form-control" name="descripcion" id="message-text"
                                        placeholder="Ponga la descripcion con @ en cada etiqueta"></textarea>
                                </div>
                                <button type="button" data-dismiss="modal">Cancelar</button>
                                <input type="submit" class="anadir" value="Añadir">
                            </form>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>



</html>