.navbar{        
    background-color: #ad5ac6 !important;
}

.logo{
    width: 3em;
    height: fit-content;
}

.navbar p{
    margin-right: 1%;
    margin-left: 1%;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.7%;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

.navbar button {
    height: 80%;
    padding: 0px;
    font-size: 10px;
    margin-left: 3%;
}


.userimg {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin-right: 3%;
}

#cuerpo {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#contenedor {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

.barIntermedia{
    margin-top: 2%;    
}

.barIntermedia p{
    margin-left: 1%;
    margin-top: 0.8em;
}

.linkNav{
    margin-left: 1%;
    color: #fa76ff;
}

.linkNav:hover{
    text-decoration: none;
    color: #f64afc;
}

.buscador{
    width: 40%;
}

tbody tr:hover{
    cursor: pointer;
}

.busqueda{
    color: #F5EFE6;
    background-color: #ce93ca;
    border: 3px double #fa76ff;
}

.tipoLogo{
    width: 2em;
}

table{
    margin-top: 1em;
}

.anadir {
    float: right;
    color: #F5EFE6;
    background-color: #8ab278;
    border: 3px double #4e9c47;
}

body {
    background-image: linear-gradient(to right, rgb(255, 201, 186), rgb(255, 198, 250));
}

button, input {
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
    color: #F5EFE6;
    background-color: #b27878;
    border-radius: 15px;
    border: 3px double #9c4747;
}

button:hover, input:hover {
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
}

#botonPerfil{
    font-size: 20px;
    color: white;
}
