<% if (errores.length > 0) {%>
    <div style="background-color: #FF5A5A; position:fixed; top: 0px; left: 0px; width: 100%;" class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
            <% errores.forEach(e => { %>
            <li><%=e.msg%></li>
            <%});%>
        </ul>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <%}%>