<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  
  <%- include("links") %>
  <link rel="stylesheet" href="css/login.css">
</head>

<body>

  <div class="container w-50">
    <form method="POST" action="/login" class="mt-5 p-5">
      <div class="row">
        <div class="container">
          <img src="img/ucmLogin.png" alt="" class="mx-auto d-block">
        </div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-lg-2 col-md-2 col-sm-12">
          <label for="inputEmail3" class="col-form-label">Email</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <input required type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email">
        </div>
      </div>
      <div class="row align-items-center mb-2">
        <div class="col-lg-2 col-md-2 col-sm-12">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <input required type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password">
        </div>
      </div>
      
      
      <%- include("flash") %>

      
      <div class="form-group d-flex justify-content-around">
        <a class="btn btn-outline-primary mt-4" href="/register" role="button">Registrarse</a>
        <button type="submit" class="btn btn-primary mt-4">Iniciar Sesion</button>
      </div>
    </form>
  </div>


  <%- include("scripts") %>
</body>

</html>