<div class="modal fade" id="verAviso" tabindex="-1" aria-labelledby="verAviso" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Vista de la tarea</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="p-1" id="modal_nombre"></h5>
                        <h5 id="modal_idAviso"></h5>
                    </div>
                    <div class="row mb-2">
                        <label for="modal_fecha" class="col-sm-3 col-form-label">Fecha: </label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control" id="modal_fecha">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="modal_area" class="col-sm-3 col-form-label">Comunicación: </label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control" id="modal_area">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="modal_perfil" class="col-sm-3 col-form-label">Perfil: </label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control" id="modal_perfil">
                        </div>
                    </div>
                    <div>
                        <label class="form-label" for="modal_obs">Observaciones: </label>
                        <textarea readonly id="modal_obs" class="form-control" rows="3"></textarea>
                    </div>
                    
                    <form action="<% if (vista != 0) {%>/asignarRespuesta<%}else{ %>/completarAviso<% } %>" method="POST">
                        <input type="hidden" name="idAviso" id="modal_idAvisoEnviar">
                        <label class="form-label" for="modal_res">Comentarios del técnico: </label>
                        <textarea <% if(!usuario.tecnico || vista == 2){%> readonly <% } %>  id="modal_res" class="form-control" name="respuesta" rows="3" required></textarea>
                        <% if(usuario.tecnico && vista != 2){ %>
                            <div class="d-flex flex-row-reverse">
                                <input id="modal_submit" type="submit" class="btn btn-success mt-3" value="<% if(vista != 0){ %> Añadir Comentario <% }else{ %> Cerrar aviso <% } %>">
                            </div>
                        <% } %>
                    </form>

                </div>
                <div class="modal-footer"></div>
        </div>
    </div>
</div>